.choice-grid{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-around;
    
}

.choice-grid div{
    width: 32.5%;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 0;     
    background-color: #f4f4f4;
    border-width: 1px;
    border-color: #dcdcdc;     
    padding: 10px;
}

.choice-grid div img{
    width: 100%;
}

.checkbox{
    width: 20px;
    height: 20px;
}

.sel{
    background-color: #cfe3ff !important;
    opacity: 1;
}

.unsel{
    opacity: 0.6;
    background-color: #f4f4f4 !important;
}

#partefinale{
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    
}

.hidden{
    display: none;
}

#butt{
    background-color: #cecece;
    height: 50px;
    width: 100%;
}


#descr{
    margin-bottom: 18px;
    margin-top: 18px;
}

#butt:hover{
    background-color: #e0e0e0;
}

@media(max-width: 700px){
    article{
        width: 95%;
    }


    header div span{
        display: none;
    }
}

@media(max-width: 500px){
    .choice-grid div{
        width: 49%;
    }
}

